* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.heading{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.heading span {
    color: orange;
/*   color: rgb(65, 158, 65);*/
}
.login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
.login img{
    width: 350px;
    height: 400px;
    margin-top: 60px;
 }
.loginform{
    width: 400px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 6px rgb(231, 229, 229);
    margin-top: 10px;
    margin-left: 80px;
    padding: 22px;
 }
.loginform input{
    width: 100%;
    padding: 6px;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 4px;
 }
.loginform p{
    margin-top: 13px;
 }
.loginform p a{
    color: orange;
    /*color: rgb(36, 110, 36);*/
    text-decoration: none;
}
#loginBtn{
width: 80px;
    height: 28px;
    background-color: orange;
    color: white;
    font-size: 16px;
    margin-top: 22px;
    border: none;
 }
#loginBtn:hover{
    transform: scale(1.2);
    background-color: orangered;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.alert{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px 10px;
    background-color: teal;
    color: white;
    margin-bottom: 0px;
    width: 100%;
    /*max-width: 100%;*/
    text-align: center;
 }
 .alert:hover{
    background-color: rgb(17, 68, 68);
 }
 .alert p{
     margin-bottom: 15px;
     margin-left: 10px;
 }
 .closebtn{
     margin-left: 350px;
     margin-top: -40px;
     color: white;
     font-weight: bold;
     float: right;
     font-size: 20px;
     line-height: 0px;
     cursor: pointer;
 }
 .password-wrapper {
    position: relative;
    width: 100%;
    /*display: flex;
    align-items: center;*/
 }
 .password-wrapper input {
    width: 100%;
    padding-right: 35px;
    /*box-sizing: border-box;*/
 }
 .toggle-password {
    position: absolute;
    right: 10px;
    top: 47%;
    font-size: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
 }
 .toggle-password:hover {
    color: black;
 }
 @media only screen and (max-width:500px){
    .heading{
        margin: auto;
    }
    .loginform{
        width: 80%;
    }
    .login img{
        width: 90%;
    }
    /*.toggle-password{
        top: 800px;
        right: 12%; 
    }*/
}


 