*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
}
.myCont{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.myCont h1{
    color: firebrick;
    margin-left: 20px;
}
.myCont h2{
    color: orange;
    margin-left: 11px;
}
.myCont h3{
    margin-left: 11px;
    color: teal;
}
.myCont img{
    width: 500px;
    height: 250px;
    border-radius: 5px;
}
