{% load static %}
<h2>Your Booking History</h2>

{% for b in bookings %}
<p>
Name: {{b.your_name}} <br>
Status:
{% if b.payment_status == "Paid" %}
    <span style="color:blue; font-weight:bold;">{{b.payment_status}}</span>
{% elif b.payment_status == "Pending" %}
    <span style="color:orange; font-weight:bold;">{{b.payment_status}}</span>
{% elif b.payment_status == "Refunded" %}
    <span style="color:green; font-weight:bold;">{{b.payment_status}}</span>
{% elif b.payment_status == "Cancel Time Expired" %}
    <span style="color:red; font-weight:bold;">{{b.payment_status}}</span>
{% endif %}
<br>
{% if b.payment_status == "Paid" or b.payment_status == "Pending" %}
    <a href="/cancel_booking/{{b.id}}">Cancel</a>
{% endif %}
</p>
<hr>
{% endfor %}
