<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speciality</title>
    <link rel="stylesheet" href="/static/css/nextstyle.css">
</head>
<body>
    <div class="myCont">
      <a href="/next"></a>
    <h1>Mahakal <span>Temple Ujjain Significance</span></h1><br><br>
     <p>The Mahakaleshwar Temple is located in the ancient city of Ujjain in the state of Madhya Pradesh,India.<br>
        This temple is dedicated to Lord Shiva and is one of the twelve Jyotirlingas, which are considered to be<br>
        the most sacred abodes of Lord Shiva. The word “Mahakal” itself means the “Great Time,” signifying the <br>
        eternal nature of Lord Shiva.The Shiva Linga placed in Mahakaleshwar Temple, Ujjain facing the south direction.
     </p>
     <p>Chant the divine mantra om namah shivaay inside your heart, constant chant of it connect you with shiva,<br>
        rest hand over to him, he will guide yoh, more you chant it, more pure you will become, we should chant it<br>
        daily all over life
     </p><br><br>
    <h2>Mahakal Bhasma Aarti</h2><br><br>
    <img src="/static/uploading/m1.jpg" alt=""><br><br>
    <p>The ritual of Bhasmarti begins with the sacred ash being infused with mantras and prayers, charging it<br>
       with divine vibrations. Devotees then apply the ash on their foreheads, arms, and other parts of the body,<br>
       symbolizing surrender to the divine will and the transitory nature of life. As the ash is applied, prayers <br>
       are offered, and hymns are chanted, creating an atmosphere of devotion and spiritual awakening.
    </p><br>
    <h3>Time: 4:00 AM</h3><br>
    <h3>Entry: Free</h3><br><br>
    <h2>Mahakal Corridor</h2><br><br>
    <img src="/static/uploading/m2.jpeg" alt=""><br><br>
    <p>The corridor, which is being built on the former shores of Rudrasagar Pond, will include about 200 statues<br>
       and murals honoring Lord Shiva, Goddess Shakti, and other deities. These murals and statues will reflect legends<br>
       of Lord Shiva and Saptarishi, Navgraha, Tripurasur Vadh, and other historical figures. In the center of Kamal Taal<br>
       or the Lotus Pond, the passageway will also have a statue of Lord Shiva. Lord Shiva will be depicted in a variety<br>
       of Anand Tandav mudras on the 108 pillars of the passageway. A large Nandi statue will be at the entryway. Also, <br>
       the first night garden in the nation is located in the corridor.
    </p><br>
    <h3>Time: 6 AM-9:30 PM</h3><br>
    <h3>Entry: Free</h3><br><br>
    <h2>Kshipra Aarti</h2><br><br>
    <img src="/static/uploading/m3.jpg" alt=""><br><br>
    <p>At a distance of 3 km from Ujjain Junction, Ram Ghat or Ram Mandir Ghat is a bathing ghat on the banks of <br>
       Kshipra River in the holy city of Ujjain, Madhya Pradesh. It is one of the famous Ghats in Ujjain, and among<br>
       the must-visit places during your Ujjain Darshan.
    </p>
    <p>Ram Ghat is of immense religious significance to Hindus as it is one of the four locations where the Kumbh <br>
       Mela takes place every 12 years. It is believed that Lord Vishnu dribbled some drops of Amrit at Ram Ghat.<br>
       It is considered to be one of the oldest bathing Ghats in connection with the Kumbh celebrations. Regarded as<br>
       one of the largest religious festivals in the world, the Kumbh Mela holds great importance among the followers<br>
       of Hinduism, which is evident from the fact that almost 2 crore people attend the mela.
    </p>
    <p>The evening Kshipra aarti is one of the best attractions at Ram Ghat. There is a wide range of temples located<br>
       at the ghat, out of which the temple of Chitragupta is the most revered one. Watching the sunset from the Ram<br>
       Mandir Ghat is one of the most enchanting scenes you'll experience.
    </p><br>
    <h3>Time: 6:00 PM-7:00 PM</h3><br>
    <h3>Entry: Free</h3><br><br>
    <h2>Mahakal Shayan Aarti</h2><br><br>
    <img src="/static/uploading/m4.jpg" alt=""><br><br>
    <p>The Shayan aarti creates a powerful energetic vibration, elevating devotees' spiritual consciousness and <br>
       connecting them to the universe. The aarti is performed with ritualistic perfection, ensuring the authenticity<br>
       and efficacy of the spiritual experience.
    </p><br>
    <h3>Time: 10:30-11:00 PM</h3><br>
    <h3>Entry: Free</h3><br><br>
    <h2>Nagchandreshwar Temple</h2><br><br>
    <img src="/static/uploading/m5.jpeg" alt=""><br><br>
    <p>Situated on the third floor of Mahakal Temple in Ujjain, Nagchandreshwar Temple is dedicated to Lord Shiva.<br>
       This 11th century temple built by Parmar Dynasty’s Raja Bhoj is unique in many ways including the fact that<br>
       it opens for the devotees only once a year on Nag Panchmi. It is also the only place in the world where instead<br>
       of Lord Vishnu, Shiva is seen seated on the ten-faced snake. Here are more such interesting facts about <br>
       Nagchandreshwar Temple in Ujjain that we bet you did not know.
    </p><br>
    <h3>Time: Only On Nag Panchmi For 24 Hours</h3><br>
    <h3>Entry: Free</h3><br><br>
    <h2>Ujjain Simhastha</h2><br><br>
    <img src="/static/uploading/m6.jpg" alt=""><br><br>
    <p>Shipra (alternately: Kshipra) is a river in Madhya Pradesh state of central India. The river rises in the North<br>
       of Dhar district and flows north across the Malwa Plateau to join the Chambal River at the MP-Rajasthan boundary<br>
       in Mandsaur district.
    </p>
    <p>It is one of the sacred rivers in Hinduism. The holy city of Ujjain is situated on its east bank. Every 12 years,<br>
       the Ujjain Simhastha takes place on the city's elaborate riverside ghats, as do yearly celebrations of the river<br>
       goddess Kshipra. There are hundreds of Hindu shrines along the banks of the river Shipra. With this reference, <br>
       the word Shipra is used as a symbol of "purity" (of soul, emotions, body, etc.) or "chastity" or "clarity". <br>
       The Puranas, or ancient Hindu texts, also suggest that the Shipra originated from the heart of Varaha, Lord Vishnu's<br>
       incarnation as a boar. Also on the banks of the Shipra is Sage Sandipani’s ashram or hermitage where Lord Krishna,<br>
       Lord Vishnu's eighth incarnation, had studied.
    </p>
   </div>
</body>
</html>

