<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taxi Payment</title>
</head>
<body>
    <h2>Taxi Booking Payment</h2>

    <div id="paypal-button-container"></div>
    <!--<p>DEBUG: {{ paypal_client_id }}</p>-->
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&currency=USD"></script>

    <script>
    paypal.Buttons({

        createOrder: function(data, actions) {
            return fetch("/create_taxi_order",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                    /*"X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify({})*/
                }
            })
            .then(response => response.json())/*{
                if(!response.ok){
                    console.error("Network error", response.status, response.statusText);
                }
                return response.json();
            })*/
            .then(data => {
                if(!data.orderID){
                    alert("Booking data missing session expired. Please login and try again.");
                    throw new Error("no orderID");
                    window.location.href = "/login";
                }
                else{
                    return data.orderID;
                }
            });    
        },
        onApprove: function(data, actions) {
            return fetch("capture_taxi_order", {
                method: "post",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    orderID: data.orderID
                })
            })
            .then(response => response.json())
            .then(data => {
                alert("Payment Successful");
                window.location.href = "/taxi_history";
            });
        },
        onError: function (err) {
            console.log("PayPal Error:", err);
            alert("Payment Cancelled ❌");
            window.location.href = "/index3";
        },

    })
    .render('#paypal-button-container');
  </script>
</body>
</html>